@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: 255 131 137;
  --pink: 255 126 182;
  --mauve: 190 149 255;
  --peach: 212 74 28;
  --yellow: 171 134 0;
  --green: 8 189 186;
  --teal: 51 177 255;
  --blue: 120 169 255;
  --text: 255 255 255;
  --subtext1: 244 244 244;
  --subtext0: 224 224 224;
  --overlay2: 173 173 173;
  --overlay1: 148 148 148;
  --overlay0: 122 122 122;
  --surface2: 79 79 79;
  --surface1: 56 56 56;
  --surface0: 46 46 46;
  --base: 22 22 22;
  --mantle: 13 13 13;
  --crust: 0 0 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --red: 218 30 40;
    --pink: 208 38 112;
    --mauve: 138 63 252;
    --peach: 212 74 28;
    --yellow: 171 134 0;
    --green: 0 125 121;
    --teal: 17 146 232;
    --blue: 15 98 254;
    --text: 0 0 0;
    --subtext1: 40 40 40;
    --subtext0: 71 71 71;
    --overlay2: 87 87 87;
    --overlay1: 89 89 89;
    --overlay0: 115 115 115;
    --surface2: 140 140 140;
    --surface1: 209 209 209;
    --surface0: 230 230 230;
    --base: 255 255 255;
    --mantle: 242 242 242;
    --crust: 235 235 235;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

.underlined {
 @apply underline decoration-surface2 decoration-2 underline-offset-4 transition-colors duration-300 hover:decoration-overlay2 active:decoration-overlay1;
}

@media (hover: hover) and (pointer: fine) {
  .animated-list li {
    @apply transition-all duration-300
  }

  .animated-list:hover li {
    @apply opacity-50
  }

  .animated-list:hover li:hover {
    @apply opacity-100
  }
}

